form{
    background-color: #f8f8f8;
    width: 300px;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}
.input{
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.button{
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    background-color: #428d70;
}
.button:hover{
    background-color: #499a71;
}